.selection-title {
    font-size: 28px;
    text-align: center;
    color: #1a1a1a;
    margin-bottom: 30px;
    line-height: 1.3;
    font-weight: normal;
}

.categories-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px; 
    overflow-y: auto; 
    padding-bottom: 20px;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.category-item:hover {
    transform: scale(1.01); /* Petit effet de zoom au survol */
}

/* Image du personnage Wiki */
.category-img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

/* Texte sous l'image */
.category-name {
    font-size: 22px;
    color: #1a1a1a;
    margin: 0;
}