/* Base de la page */
body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Georgia', serif;
}

/* Titres */
.main-title {
    font-size: 32px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 30px 0;
}

/* Zone du texte de cours */
.course-content {
    flex-grow: 1; /* Prend l'espace disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    line-height: 1.4;
    overflow-y: auto;
}

.course-content p {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
   
}

/* Bas de page */
.course-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.mini-mascot {
    width: 120px;
    height: auto;
    align-self: flex-end; /* Aligne la mascotte à droite*/
}

.btn-quiz {
    background-color: #1D80C3; 
    color: white;
    white-space: nowrap;
    font-size: 22px;
    padding: 15px 40px;
    border-radius: 40px;
    box-sizing: border-box;
    border: 1px solid #000;
    transition: transform 0.2s;
}

.btn-quiz:active {
    transform: scale(0.95);
}